.git
__pycache__
.conda
.ipynb_checkpoints
.Trash-0
__pycache__/
.vscode
data/
*.pyc
*.pyo
*.pyd
*.swp
database/fingerprints.db
database/
database/fingerprints.db-journal
database/fingerprints.db-wal
database/fingerprints.db-shm
database/*.db
database/*.db-journal
database/*.db-wal
database/*.db-shm
experiments/
